<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body class="container">
{{#user}}
    <table class="table">
        <tr>
            <th>Username</th>
            <td>{{username}}</td>
        </tr>
        <tr>
            <th>2FA Enabled</th>
            <td>{{isTwoFactorAuthEnabled}}
                {{^isTwoFactorAuthEnabled}}
                    <br/>
                    <a href="/api/2fa/enable-2fa">Enable 2FA</a>
                {{/isTwoFactorAuthEnabled}}
            </td>
        </tr>
    </table>
{{/user}}
<br/>
<form action="/auth/logout" method="post">
         <button type="submit">Log Out</button>
</form>
</body>
</html>